@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
	box-sizing: border-box;
	color: white;
}
body {
	background-color: rgb(18, 18, 22);
	gap: 100px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	top: 50px;
	font-size: larger;
}
.offer {
	display: flex;
	align-items: center;
	width: 15vw;
	height: 100px;
	border: 1px outset white;
	border-radius: 10px;
	justify-content: center;
}
.logo {
	position: absolute;
	width: 10vw;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.login {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	border-radius: 40px;
	width: 80px;
	height: 50px;
	cursor: pointer;
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-bottom: 60px;
}
.categories h2 {
	margin-bottom: 0%;
	font-size: 40px;
	margin-top: 10px;
	padding-bottom: 20px;
}
.categories a {
	padding-bottom: 15px;
}

.deezer {
	font-weight: 10;
}
.free {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	background: linear-gradient(to right, rgb(109, 66, 180), rgb(143, 59, 172));
	border-radius: 20px;
}
section p {
	width: 70%;
	margin-top: 0px;
}
.family {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	background: linear-gradient(70deg, rgb(229, 100, 24) 50%, rgb(248, 156, 41));
	border-radius: 20px;
}
.premium {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	background: linear-gradient(to right, rgb(122, 91, 234), rgb(61, 168, 186));
	border-radius: 20px;
}
div button {
	background-color: black;
	width: 23vw;
	border-radius: 30px;
	font-size: 14px;
	font-weight: bolder;
	padding: 10px;
	height: 50px;
}
div button:hover {
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
}
.extras {
	margin-top: -30px;
	display: grid;
	width: 40vw;
	gap: 30px;
}
.extra {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border: 1px solid white;
	border-radius: 30px;
}
.descuento {
	position: relative;
	left: 200px;
	border-radius: 10px;
	width: 48px;
	background: linear-gradient(to right, rgb(122, 91, 234), rgb(61, 168, 186));
}
.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about h1 {
	margin-top: 0px auto 10px auto;
	font-size: 42px;
}
.about p {
	width: 600px;
	font-size: 18px;
}
.btn {
	margin-top: 40px;
	padding: 0px 20px 0px 20px;
	color: black;
	background-color: white;
	border-radius: 30px;
	height: 50px;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Aboreto';
	cursor: pointer;
}
.img-text {
	width: 60vw;
}
.about p {
	width: 35vw;
}
.ss {
	width: 30vw;
}
.title-large {
	width: 40vw;
	color: white;
	font-size: 42px;
}
.img-cancion {
	width: 200px;
	height: 200px;
	border-radius: 5px;
}
.play {
	cursor: pointer;
}
.cancion i {
	position: relative;
	bottom: 1.5em;
	right: 4.2em;
	font-size: 20px;
}
#canciones {
	display: flex;
	justify-content: center;
	gap: 30px;
}
.cancion {
	width: 200px;
}
.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	margin-top: 100px;
	height: 10px;
}
.line:first-of-type {
	background: linear-gradient(270deg, rgb(50, 50, 61), rgba(240, 19, 19, 0));
	height: 2px;
	width: 100%;
	margin-right: 10px;
}
.line:last-of-type {
	background: linear-gradient(90deg, rgb(50, 50, 61), rgba(0, 0, 0, 0));
	height: 2px;
	width: 100%;
	margin-left: 10px;
}
h6 {
	color: white;
	width: 300px;
}
.library {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.library p {
	width: 44vw;
}
.FAQ {
	font-family: Arial, sans-serif;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	width: 50vw;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}
.FAQ h1 {
	font-size: 40px;
}
.FAQ h2 {
	display: flex;
	font-size: 30px;
	font-weight: 700;
	margin: 10px 0px 10px 0px;
	width: 40vw;
}
.questions {
	display: flex;
	width: 40vw;
}
.fa-solid {
	font-size: 30px;
	display: flex;
	align-self: center;
}
.p-solo {
	font-size: 12px;
	padding: 50px 0px;
	margin: 0px auto 100px auto;
	color: #92929d;
	width: 40vw;
	line-height: 20px;
}
footer {
	border-top: 1px solid rgb(50, 50, 61);
	width: 100%;
}
footer img {
	width: 200px;
	height: 80px;
}
.apple {
	width: 180px;
	height: 55px;
}
.imgs {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 40px;
}
ul {
	list-style: none;
	line-height: 40px;
}
.title-li {
	color: white;
}
li {
	color: #92929d;
}
.lists {
	display: flex;
	justify-content: space-around;
}
.redes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 9em;
	font-size: 20px;
}
.contact {
	display: flex;
	width: 80vw;
	justify-content: space-between;
	margin: auto;
}
.copy {
	color: #92929d;
}
.idioma {
	display: flex;
	align-self: center;
}
.last-logo {
	height: 7em;
	width: 10em;
}

.formulario {
	position: absolute;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 20px;
	width: 40vw;
	padding: 20px;
}
.formulario h2 {
	color: white;
}

input {
	width: 100%;
	border-radius: 10px;
	color: black;
	height: 30px;
}

.close {
	position: relative;
	bottom: 52vh;
	left: 18vw;
	width: 1px;
	color: white;
	cursor: pointer;
}
.formulario .btn {
	width: 40%;
}
.container-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.container-list li {
	line-height: 70px;
}
.lresponsive {
	
	justify-content: center;

	flex-direction: column;
	font-size: 30px;
}
.responsive-login {
	cursor: pointer;
}

::-webkit-scrollbar {
	background: rgb(25, 25, 34);
	border-left: 1px solid rgb(50, 50, 61);
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: rgb(82, 82, 93);
	border-radius: 15px;
	border: 1px solid rgb(50, 50, 61);
}
@media (max-width: 800px) {
	.x {
		position: absolute;
		top: 20px;
		right: 30px;
	}
	header {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-self: start;
	}
	.container-list {
		z-index: 0;
		padding: 0;
	}
	.container-list > li {
		position: relative;
		top: -100px;
		line-height: 60px;
		color: white;
	}
	.categories button {
		width: 30vw;
	}
	.categories h2, .about h1 {
		font-size: 30px;
	}
	.about p {
		width: 60vw;
	}
	.imgs {
		width: 100vw;
	}
	.p-solo {
		width: 70vw;
	}
	.img-text {
		width: 90vw;
	}
	h1 {
		font-size: 30px;
	}
	.offer,
	.login {
		display: none !important;
	}
	.logo {
		margin-top: 8px;
		width: 30vw;
	}
	h2,.FAQ h2  {
		font-size: 22px;
	}
	.questions {
		width: 70vw;
		justify-content: space-between;
		align-self: center;
	}
	.free,.family,.premium,.extras {
		width: 70vw;
	}
	.extras {
		width: 70vw;
	}
	.descuento {
		left: 20%;
	}
	#canciones {
		display: flex;
		flex-direction: column;
	}
	ul {
		width: 70vw;
		align-self: center;
	}
	.title-large {
		font-size: 30px;
		width: 70vw;
	}
	.lists {
		flex-wrap: wrap;
	}
	.contact {
		flex-direction: column;
		align-items: center;
	}
	.formulario {
		width: 80vw;
	}
	.close {
		bottom: 58vh;
		left: 32vw;
	}
}
